{% extends "layout.html" %}
{% block title %}{{ rest.name }}{% endblock %}
{% block body %}
    <h1>{{ rest.name }}</h1>
    <ul>
        {% for item in items %}
        <li>
            <strong>{{ item.name }}</strong> {{ item.price }}<br>
            {{ item.description }}<br>
            <a href="{{ url_for('editMenuItem', r_id=rest.id, m_id=item.id) }}">Edit</a>
            <a href="{{ url_for('deleteMenuItem', r_id=rest.id, m_id=item.id) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('createMenuItem', r_id=rest.id) }}">Add Item</a><br>
    <a href="{{ url_for('restaurantIndex') }}">Back</a>
{% endblock %}